<center>
    <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 2px;">
                    <tr>
                        <td style="width: 18px; padding-right: 4px;">
                            <a href="http://zcombinator.me">
                                <img src="images/z196.png" width="18" height="18" style="border: 1px #ffffff solid;">
                            </a>
                        </td>
                        <td style="line-height: 12pt; height: 10px;">
                            <span class="pagetop">
                                <b>
                                    <a href="news">AA News</a>
                                </b>
                                <img src="" height="1" width="10">
                                {{!-- <a href="newest">new</a>
                                | --}}
                                <a href="submit">submit</a>
{{!--                                 |
                                <a onclick="upmykarma('{{user.id}}')">upkarma</a> --}}
                            </span>
                        </td>
                        <td style="text-align: right; padding-right: 4px;">
                            <span class="pagetop">
                              {{#if user}}
                                <a href="user?id=balderfer">
                                    <font color="#3c963c">{{user.username}}</font>
                                </a>
                                ({{info.karma}}) |
                                <a href="/logout">logout</a>
                              {{else}}
                                <a href="/signin">login</a>
                              {{/if}}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 10px;"></tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  {{#each posts}}
                    <tr>
                        <td align="right" valign="top" class="title">1.</td>
                        <td>
                            <center>
                                <a id="up_8363486" onclick="uppost('{{_id}}', '{{../user.id}}')">
                                    <div title="upvote" class="votearrow"></div>
                                </a>
                                <span id="down_8363486"></span>
                            </center>
                        </td>
                        <td class="title">
                            {{#if url}}
                            <a href="http://{{url}}">{{title}} </a>
                            <span class="comhead">({{url}})</span>
                            {{else}}
                            <a href="#">{{title}} </a>
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="subtext">
                            <span id="score_8363486">{{points}} points </span>
                            by 
                            <a>{{author}} </a>
                            <span class="formatdate">{{date}}</span>{{!--   |
                            <a> 6 comments</a> --}}
                        </td>
                    </tr>
                    <tr style="height: 5px;"></tr>
                  {{~/each}}
                </table>
            </td>
        </tr>
    </table>
</center>